body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 2% 20%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}



/* NAVIGATION BAR */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}



/* TITLE */

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}



/* FEATURES */

#features {
    text-align: center;
}
#features i {
    color: #ef8172;
    margin-bottom: 1rem;
}
#features i:hover {
    color: #ff4c68;
}
#features h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#features p {
    color: #8f8f8f;
}

.col-lg-4 {
    margin: 10% 0;
    padding: 0 10%;
}
